<input type="checkbox" {{bind-attr id=elementId}} {{bind-attr class=":ui-checkbox-input sizeClass disabled"}} {{bind-attr checked="checked"}} {{bind-attr disabled="disabled:disabled:"}}>
<label {{bind-attr for=elementId}} {{bind-attr class="disabled:disabled:enabled"}}></label>
